<header class=" mb-4 vh-100 d-flex align-items-end">
    <div class="container">
        <h1 class="my-4 fw-border h4">Top Trending Media </h1>
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let movie of headerTrendingMovies">
                <ng-template carouselSlide [id]="movie.id">
                    <img [src]=" imgPrefix+movie.poster_path" [alt]="movie.alt" [title]="movie.title">
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
</header>