<div class="footer-content bg-black text-center p-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 section-1 ">
                <h1 class=" mt-3 ">Contact Us</h1>
                <div class="location d-flex justify-content-center">
                    <i class="icon fas fa-map-marker mx-2 "></i>
                    <h6>Location</h6>
                </div>
                <div class="contact d-flex justify-content-center">
                    <i class="icon fas fa-phone mx-2 "></i>
                    <h6>Call +01283286796</h6>
                </div>
                <div class="email d-flex justify-content-center">
                    <i class="icon fas fa-envelope mx-2 "></i>
                    <h6>mohamedradwan01111@gmail.com</h6>
                </div>
            </div>
            <div class="col-md-4 section-2 ">
                <h1 class="mt-4 ">Egy Best</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sapiente ut provident amet optio enim.</p>
                <div class="icons d-flex justify-content-center ">
                    <i class="icon fab fa-facebook fa-2x p-1 "></i>
                    <i class="icon fab fa-instagram fa-2x p-1 "></i>
                    <i class="icon fab fa-whatsapp fa-2x p-1 "></i>
                    <i class="icon fab fa-youtube fa-2x p-1 "></i>
                    <i class="icon fab fa-twitter fa-2x p-1 "></i>
                </div>
            </div>
            <div class="col-md-4 mt-3 section-3">
                <h1>Opening </h1>
                <h5>Everyday</h5>
                <p>24 hour</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, deserunt.</p>
            </div>
        </div>
    </div>
</div>