<div class="container ">
    <h1 class="text-center my-3 h-1">More Details about My Web</h1>
    <div class="box-1 p-4 bg-light mt-5 text-center">
        <img src="assets/images/wp2824462.webp" class="w-100" alt="">
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia natus aspernatur quidem exercitationem? Consequuntur distinctio eveniet quos molestias error similique debitis aliquam, ipsam repellat harum.</h5>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia, quae voluptatibus voluptas porro dolorum nobis eligendi provident eius possimus?</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur in amet voluptatem optio itaque fuga ipsum, provident, quae eius neque distinctio. Laborum fugiat cumque obcaecati debitis error recusandae reprehenderit voluptatibus sequi.
            Magnam saepe unde officia?</p>
    </div>
    <div class="box-2 p-4 bg-danger">
        <img src="assets/images/6422928.jpg" class="w-100" alt="">
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia, quae voluptatibus voluptas porro dolorum nobis eligendi provident eius possimus?</h6>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia natus aspernatur quidem exercitationem? Consequuntur distinctio eveniet quos molestias error similique debitis aliquam, ipsam repellat harum.</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur in amet voluptatem optio itaque fuga ipsum, provident, quae eius neque distinctio. Laborum fugiat cumque obcaecati debitis error recusandae reprehenderit voluptatibus sequi.
            Magnam saepe unde officia?</p>
    </div>
    <div class="box-3 p-4 bg-info">
        <img src="assets/images/6478793.webp" class="w-100" alt="">
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia, quae voluptatibus voluptas porro dolorum nobis eligendi provident eius possimus?</h6>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia natus aspernatur quidem exercitationem? Consequuntur distinctio eveniet quos molestias error similique debitis aliquam, ipsam repellat harum.</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur in amet voluptatem optio itaque fuga ipsum, provident, quae eius neque distinctio. Laborum fugiat cumque obcaecati debitis error recusandae reprehenderit voluptatibus sequi.
            Magnam saepe unde officia?</p>
    </div>
    <div class="box-4 p-4 bg-warning mb-5 p-0">
        <img src="assets/images/dd42bdq-f9bb7e80-e7d8-45d9-936a-4de808ba5099.jpg" class="w-100" alt="">
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia, quae voluptatibus voluptas porro dolorum nobis eligendi provident eius possimus?</h6>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia natus aspernatur quidem exercitationem? Consequuntur distinctio eveniet quos molestias error similique debitis aliquam, ipsam repellat harum.</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur in amet voluptatem optio itaque fuga ipsum, provident, quae eius neque distinctio. Laborum fugiat cumque obcaecati debitis error recusandae reprehenderit voluptatibus sequi.
            Magnam saepe unde officia?</p>
    </div>
</div>