<div class="container ">
    <h1 class="text-center h-1 my-3">Contact With Us</h1>
    <div class="row mb-5">
        <div class="col-md-6 p-5 bg-secondary">
            <h1>Hello,Friends!</h1>
            <p>Enter Your Personal Detalis and Start Journey with us</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At alias, aperiam suscipit doloribus adipisci molestiae!</p>
            <button class="btn btn-warning"><a routerLink="/home">Send Your Message</a></button>
        </div>
        <div class="col-md-6 bg-info p-5 text-center">
            <h1>Enter Your Detalis</h1>
            <input type="text" placeholder="Enter Your Name" class="w-100 bg-light text-center">
            <input type="number" placeholder="Enter Your Phone" class="w-100 my-3 bg-light text-center">
            <input type="text" placeholder="Enter Your Adress" class="w-100 bg-light text-center mb-3">
            <input type="text" placeholder="Write Your Message" class="w-100 bg-light text-center h-50 mb-5 p-5">
        </div>
    </div>
</div>