<div class="w-75 mx-auto py-5">
    <h2 class="my-4">Register Now</h2>
    <div *ngIf="error" class="alert alert-danger m-2">
        {{error}}
    </div>
    <form [formGroup]="registerForm" (ngSubmit)='submitRegisterForm(registerForm)'>
        <div>
            <label for="first_name">FirstName:</label>
            <input formControlName='first_name' type="text" class="form-control" name="" id="">
            <div *ngIf="registerForm.get('first_name')?.errors != null && registerForm.get('first_name')?.touched" class="alert mt-2 alert-danger">
                <p *ngIf="registerForm.get('first_name')?.errors?.['required']">first_name is Required</p>
                <p *ngIf="registerForm.get('first_name')?.errors?.['minLength']">first_name minLength is 3</p>
                <p *ngIf="registerForm.get('first_name')?.errors?.['maxLength']">first_name maxLength is 8</p>
            </div>
        </div>
        <div>
            <label for="last_name">LastName:</label>
            <input formControlName='last_name' type="text" class="form-control" name="" id="">
            <div *ngIf="registerForm.get('last_name')?.errors != null && registerForm.get('last_name')?.touched" class="alert mt-2 alert-danger">
                <p *ngIf="registerForm.get('last_name')?.errors?.['required']">last_name is Required</p>
                <p *ngIf="registerForm.get('last_name')?.errors?.['minLength']">last_name minLength is 3</p>
                <p *ngIf="registerForm.get('last_name')?.errors?.['maxLength']">last_name maxLength is 8</p>
            </div>
        </div>
        <div>
            <label for="age">Age:</label>
            <input formControlName='age' type="number" class="form-control" name="" id="">
            <div *ngIf="registerForm.get('age')?.errors != null && registerForm.get('age')?.touched" class="alert mt-2 alert-danger">
                <p *ngIf="registerForm.get('age')?.errors?.['required']">age is Required</p>
                <p *ngIf="registerForm.get('age')?.errors?.['min']">age minLength is 16</p>
                <p *ngIf="registerForm.get('age')?.errors?.['max']">age maxLength is 80</p>
            </div>
        </div>
        <div>
            <label for="email">Email:</label>
            <input formControlName='email' type="email" class="form-control" name="" id="">
            <div *ngIf="registerForm.get('email')?.errors != null && registerForm.get('email')?.touched" class="alert mt-2 alert-danger">
                <p *ngIf="registerForm.get('email')?.errors?.['required']">email is Required</p>
                <p *ngIf="registerForm.get('email')?.errors?.['email']">email invalid</p>
            </div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input formControlName='password' type="password" class="form-control" name="" id="">
            <div *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched" class="alert mt-2 alert-danger">
                <p *ngIf="registerForm.get('password')?.errors?.['required']">password is reqiured</p>
                <p *ngIf="registerForm.get('password')?.errors?.['pattern']">password invalid</p>>
            </div>
        </div>
        <button [disabled]="registerForm.invalid" class=" mt-3 btn btn-info "> Register</button>
    </form>
</div>